<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pay My Buddy - Home</title>
</head>
<body>
	<nav style="display: inline-block; width: 100%;">
		<a href="#">
			<img alt="Pay My Buddy Logo" src="/images/logo.png">
		</a>
		<div style="float: right;">
			<a aria-current="page" href="#">Home</a>
			<a href="#">Transfer</a>
			<a href="#">Profile</a>
			<a href="#">Contact</a>
			<a href="#">Log off</a>
		</div>
	</nav>
	<main>
		<p style="text-decoration: underline;">Menu :</p>
		<button>Log in</button>
	</main>
</body>
</html>