<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pay My Buddy - Log In</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/login.css" rel="stylesheet">
</head>

<body class="text-center">
	<main class="form-signin">
		<img class="logo mb-3" src="/images/logo.png" alt="Pay My Buddy Logo" width="200">
		<form action="/login" method="post">
			<button class="w-60 btn btn-lg btn-custom" type="submit" value="Submit">Log in</button>
		</form>
	</main>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>