<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pay My Buddy - Sign Up</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/css/signup.css}" rel="stylesheet">
</head>

<body class="text-center">
	<main class="form-signin">
		<img class="logo mb-3" src="/images/logo.png" alt="Pay My Buddy Logo" width="200">
		<form onsubmit="return confirmPassword()" th:action="@{/signup}" th:object="${signupForm}" method="post">
			<div id="emailForm" class="form-floating mb-3">
				<input type="email" th:field="*{email}" placeholder="test@mail.com" class="form-control" id="userEmail">
				<label for="userEmail" class="form-label">
				<img class="custom-icon" src="/images/envelope.svg" alt="Email Icon">Email</label>
			</div>
			<div id="passwordForm" class="form-floating mb-1">
				<input type="password" th:field="*{password}" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{12,50}$" placeholder="Enter your password" class="form-control" id="userPassword" aria-describedby="passwordConstraints">
				<label for="userPassword" class="form-label">
				<img class="custom-icon" src="/images/asterisk.svg" alt="Asterisk Icon">Password</label>
			</div>
			<div id="passwordVerificationForm" class="form-floating mb-3">
				<input type="password" placeholder="Confirm your password" class="form-control" id="userPasswordVerification">
				<label for="userPasswordVerification" class="form-label">
				<img class="custom-icon" src="/images/asterisk.svg" alt="Asterisk Icon">Confirm your password</label>
				<p id="passwordVerificationErrorMessage">Passwords do not match.</p>
				<div id="passwordConstraints" class="form-text">Your password must be 12-50 characters long.<br/>
					It must contain <em>at least:</em><br/> 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character: !@#$%^&amp;*_=+-
				</div>
			</div>
			<button class="w-60 btn btn-lg btn-custom" type="submit" value="Submit">Sign up</button>
		</form>
	</main>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		function confirmPassword() {
			var password = document.getElementById("userPassword").value;
			var confirmedPassword = document.getElementById("userPasswordVerification").value;
			
			if (password != confirmedPassword) {
				document.getElementById("userPasswordVerification").style.border = "thick solid #E34234";
				document.getElementById("passwordVerificationErrorMessage").style.display = "inline";
				return false;
			} else {
				return true;
			}
		}
	</script>
</body>

</html>